.fx-animate-delay-02 {
	animation-delay: 0.2s;
}
.fx-animate-delay-05 {
	animation-delay: 0.5s;
}
.fx-animate-delay-1 {
	animation-delay: 1s;
}
.fx-animate-delay-15 {
	animation-delay: 1.5s;
}
.fx-animate-delay-2 {
	animation-delay: 2s;
}

.fx-when-in-view {
	opacity:0;
	animation-duration: 3s;
}